    <div id="content" class="content " ng-controller="HelpCtrl">
      
      <!-- CONTENT -->
      <div class="container-fluid" ng-init="initHelp()">
        <div class="row">

        <!-- LEFT PANE -->
          <div class="col-sm-3 col-lg-2 sidebar">
            <help-toc />
          </div>

          <!-- PAGE PANE -->
          <div ng-include="'html/np-help.doc.html'" ng-controller="DocCtrl" style="padding-left:20px;padding-top:0;padding-right:20px;" class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main"></div>
        </div>
      </div>
    </div><!--/.container-->
